*{
    padding:0;
    margin:0;
    box-sizing:border;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/*-----------------------------------------Home page---------------------------------------------------- */


.banner{
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
}

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3),rgba(4, 1, 17, 0.3));
}

nav{
    height: 8%;
    width: 100%;
    position: fixed;
    background-color: rgba(67, 227, 86);
    box-shadow: 1px 1px 45px 10px rgb(7, 87, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    height: 48px;
    width: 50px;
    margin: 2vh;
    margin: 0%;
    border-radius: 59px;
    margin-left: 1%;
    
    
    
}
nav .jha{
    text-align: left;
    margin-left: -700px;
    color: rgb(15, 9, 9);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar{
    display: flex;
    margin-right: 4vh;
}

.navbar a{
    /* color: white; */
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px 18px;
    border-radius: 5px;
    font-weight: 500;   
    text-decoration: none;
    transition: ease 0.40s;
}

.navbar a:hover,.navbar a.active{
    background: rgba(252, 253, 252);
    color: rgb(15, 74, 12);
    box-shadow: 1px 1px 4px 4px rgb(1, 74, 7);
    border-radius: 6px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgba(67, 227, 86);
    font-size: 50px;
}

.title{
    text-decoration: none;
    /* display: inline-block; */
    font-size: 4vh;
    color: rgb(255, 255, 255);
    padding: 14px 17px;
    margin-top: 32vh;
    text-align: center;
    vertical-align: center;
}

.title h1{
    font-size: 10vh;
    text-shadow: 2px rgb(0, 0, 0);
    transition: ease 0.3s;
}

.title h1:hover{
    color:transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    
}

.button{
    display: inline-block;
    margin-top:5vh;
    font-size: 25px;
    padding: 10px 30px;
    color: rgb(21, 74, 74);
    /* background-color:rgb(164, 44, 44); */
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: ease 0.30s;
}

.button:hover{
    transform: rotateY(360deg);
    transition: 1s;
    color: white;
    background-color: rgb(21, 74, 74);
    /* border: 2px solid rgb(42, 37, 68); */
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}

/*---------------------------------------------------------- Services---------------------------------------------------------- */

 .text h2{
    font-size: 40px;
    font-weight: 650;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
}

.rowitems{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px ;
    margin-right: 2cm;
    margin-bottom:10px ;
}

.container-box{
    border: 1px solid #08fb04;
    border-radius: 10px;
    padding: 40px 10px;
    transition: all 3s ease 0s;
    cursor: pointer;
}

.container-box:hover{
    transform: rotateY(360deg);
    transition: 5ms;
}
.container-image img{
    height: 150px;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    
   
}

.container-box h4{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
}

.container-box p{
    font-size: 16px;
    color: #808080;
}

.container-box:hover{
    background: rgba(67, 227, 86);
    color: rgb(15, 74, 12);
    box-shadow: 1px 1px 8px 8px rgb(1, 74, 7);
    border-radius: 6px;
   
    /* transform: rotate;
    transition: 3s; */
    
    
    border: 1px solid transparent;
    
} 


/*---------------------------------------------------------- Packages---------------------------------------------------------- */

.package-title{
    text-align: center;
}

.package-title h2{
    font-size: 40px;
    font-weight: 650;
    padding-top: 75px;
    padding-bottom: 10px;
    line-height: 2;
}

.package-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image{
    position: relative;
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
    cursor: pointer;
    filter: brightness(95%);
}

.image img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
}

.image h3{
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    top: 10px;
    right: 20px;
}

.dest-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.location h4{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 2px;
}

.pac-details li{
    font-size: 19px;
    color: #4c4c4c;
    margin-left: 15px;
    margin-bottom: 2px;
    list-style-type: disc;
}

.image:hover{
    filter: brightness(120%);
    transform: rotateY(360deg);
    transition: 2s;
}

/* ----------------------------------------------------------Locations ----------------------------------------------------------*/

.location-body{
    
    background-color: rgba(191, 237, 196, 0.441);
}


nav .jha{
    text-align: left;
    margin-left: -700px;
    color: rgb(15, 9, 9);
}
.location-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.col-content{
    position: relative;
    filter:brightness(100%);
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
    margin-bottom: 40px;

}

.col-content img{
    margin-bottom: 30px;
    height: 200px;
    border-radius: 15px;
    width: 100%;
    aspect-ratio:3/2;
    margin-top: auto;
    object-fit: cover;
    
    
}

.col-content h5{
    position: absolute;
    font-size: 25px;
    color: rgb(16, 92, 42);
    font-weight: 500;
    left: 10px;
    bottom: 43px;
    cursor: pointer;
    
}

.col-content p{
    position: absolute;
    font-size: 20px;
    color: rgb(3, 85, 7);
    left: 10px;
    bottom: 20px;
    cursor: pointer;
}

.col-content:hover{
   
    color: rgb(15, 74, 12);
    box-shadow: 1px 1px 4px 4px rgb(1, 74, 7);
    border-radius: 6px;
    filter: brightness(110%);
    filter: contrast(120%);
    transform:unset;
    transition: 0.5em;
    cursor: pointer;
    
}

/*---------------------------------------------------------- Newsletter---------------------------------------------------------- */


.newsletter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.newstext h2{
    margin-top: 100px;
    font-size: 38px;
}

.newstext p{
    font-size: 20px;
    color: #4c4c4c;
}

.newsletter form{
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 300px;
    font-size: 17px;
    outline: none;
    border: 2px rgb(2, 67, 11) dotted;
    border-radius: 20px;
    color: rgba(113, 231, 127, 0.647);
    padding: 20px 150px 20px 30px;
    box-shadow: 1px 5px 30px 10px rgb(18, 83, 36);
}

.newsletter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    background-color: rgb(18, 83, 36);
    padding: 14px 30px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 450;
    top: 6px;
    right: 6px;
    transition: ease 0.30s;
}

.newsletter form input:last-child:hover{
    border: 2px solid rgb(14, 71, 24);
    background-color: white;
    color: rgb(24, 86, 33);
}


/*---------------------------------------------------------- Footer---------------------------------------------------------- */

.footer{
    margin-top: 80px;
    background-color: rgba(67, 227, 86);
    box-shadow: 1px 1px 45px 10px rgb(7, 87, 3);

}

.foot{
    padding: 20px 0;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footlinks h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(24, 86, 33);
    margin-bottom: 30px;
    position: relative;
}


.footlinks h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 70px;
    left: 0;
    bottom: -7px;
   
    background: rgb(15, 86, 25);
}

.footlinks ul li{
    margin-bottom: 15px;
}

.footlinks ul li a{
    font-size: 17px;
    color: rgb(24, 86, 33);;
    
    display: block;
    transition: ease 0.30s;
}

.footlinks ul li a:hover{
    transform:rotateX(360deg);
    transition: 2s;
    
    color: black;
}

.social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    
    background-color: rgb(24, 86, 33);
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
}

.social a:hover{
    transform: rotateY(360deg);
    transition: 2s;
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: rgb(24, 86, 33);;
    /* color: black; */
    letter-spacing: 1px;
    font-weight: 300;
}

/* ---------------------------------------------------------- About Us ---------------------------------------------------------- */


.aboutbody{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(191, 237, 196, 0.441);
}

.about{
    width: 100%;
    padding: 78px 0px;
}
nav .jha{
    text-align: left;
    margin-left: -700px;
    color: rgb(15, 9, 9);
}

.about img{
    margin-top: 50px;
   
    height: 400px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.abt-text{
    width: 500px;
}

.abt-text h1{
    font-size: 70px;
    /* color: white; */
    color: black;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.abt-text h1 span{
    color: #1b5b1d;
    letter-spacing: 1px;
}

.abt-text p{
    /* color: white; */
    color: black;
    font-size: 24px;
    margin-bottom: 45px;
    line-height: 30px;
    letter-spacing: 1px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connectbtn{
    display: inline-block;
    background-color: #1b5b1d;
    font-size: 18px;
    /* color: white; */
    color: rgba(67, 227, 86);
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 17px;
    transform: rotateY(360deg);
    transition: 2s;
    border: 2px solid transparent;
    letter-spacing: 1px;
}

.connectbtn:hover{
    background-color: transparent;
    border: 2px solid rgba(67, 227, 86, 0.647);
    transform: rotateY(360deg);
    transition: 2s;
}

.connect-section{
    margin-top: 26px;
}


.social a{
    
    height: 45px;
    width: 45px;
    margin: 6px;
    font-size: 30px;
    /* color: #101010; */
    color: white;
    /* background-color: white; */
    background-color: rgba(67, 227, 86, 0.647);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(360deg);
    transition: 2s;
    
}
.social img{
    margin-top: 0px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}


.social-icons a:hover{
    transform: rotateY(360deg);
    transition: 2s;
}

/* ---------------------------------------------------------- Contact Us ---------------------------------------------------------- */

.contactbody{
    /* background-color: #101010; */
    background-color: rgba(191, 237, 196, 0.441);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav .jha{
    text-align: left;
    margin-left: -700px;
    color: rgb(15, 9, 9);
}

.contact{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.contact-form h1{
    font-size: 80px;
    /* color: white; */
    color: black;
    margin-bottom: 20px;
}

.contact-form h1 span{
    color:#19712d;;
}

.contact-form p{
    /* color: white; */
    color: black;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 23px;
    margin-bottom: 20px;
}
.social a{
    height: 45px;
    width: 45px;
    margin: 6px;
    font-size: 30px;
    /* color: #101010; */
    color: white;
    /* background-color: white; */
    background-color: rgba(67, 227, 86, 0.647);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(360deg);
    transition: 1s;
    
}
.social img{
    margin-top: 0px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}



.contact-form form input,form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: #6afa688d;
    font-size: 20px;
    
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}


.contact-form form .submit-btn{
   
    background-color:#6998f7;
    font-size: 27px;
    font-weight: 600px;
    border: 4px solid rgb(6, 110, 18);
    border-radius: 20px;
    width: 220px;
    cursor: pointer;
    transition: 1s;

}
.face{
    height: 45p;
    width: 45px;
    border-radius: 50%;
    
}


.contact-form form .submit-btn:hover{
    border: 2px solid green;
    background-color:#2e05fb;
    transition: 1s;

}


/* ---------------------------------------------------------- Registration Form ---------------------------------------------------------- */

.register-body{
    background-color: rgba(191, 237, 196, 0.441);
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;

}

nav .jha{
    text-align: left;
    margin-left: -700px;
    color: rgb(15, 9, 9);
}

.registration{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.register-form h1{
    font-size: 80px;
    
    color: black;
    margin-bottom: 20px;
}
.register-form h1 span{
    color:#19712d;
}

.register-form{
    
    color: black;
    font-size: 20px;
}

.register-form form input{
    /* color: white; */
    color: black;
    padding: 17px;
    background-color: rgba(113, 249, 113, 0.555);
    /* background-color: white; */
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.register-form h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: #19712d;;
}


.register-form form .submitbtn{
    display: inline-block;
    background-color: #19712d;;
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transform: rotateY(360deg);
    transition: 2s;
}

.register-form form .submitbtn:hover{
    border: 2px solid #19712d;;
    background-color: transparent;
    transform: rotateY(360deg);
    transition: 2s;
}


/* ------------------------------------------------------location detail------------------------------------------------------------ */
.location-body{
    background-color: #74f68a;
    color: rgb(0, 0, 0);
}

.location-section{
    padding: 50px;
    height: 100%;
    min-height: 100vh;
}

.location-heading h1{
    margin-top: 10px;
    font-size: 60px;
    margin-bottom: 30px;
}

.location-heading h1 span{
    color: rgb(21, 59, 25);
}

.location-detail h1{
    padding-top: 50px;
    color: rgb(5, 70, 13);
    font-size: 30px;
}

.location-detail p{
    font-size: 20px;
    margin-top 30px;
    margin-bottom: 10px;
}

.location-img img{
    height: 300px;
    width: 400px;
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.stars i{
    font-size: 20px;
    color: rgb(21, 79, 21);
}

